In [ ]:
#Explain with an example each when to use a for loop and a while loop.

In [1]:
l= ['niki','sush','pwskills',1,2,3]

In [2]:
for i in l:
    print (i)

niki
sush
pwskills
1
2
3

In [4]:
a=1

while a <= 20:
    print(a)
    a = a+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [5]:
# Calculate the sum and product of the first 10 natural numbers using for loop
sum = 0
product = 1

for i in range(1, 11):
    sum += i
    product *= i

print("Sum of the first 10 natural numbers is:", sum)
print("Product of the first 10 natural numbers is:", product)

Sum of the first 10 natural numbers is: 55
Product of the first 10 natural numbers is: 3628800

In [6]:
# Calculate the sum and product of the first 10 natural numbers using while loop
sum = 0
product = 1
i = 1

while i <= 10:
    sum += i
    product *= i
    i += 1

print("Sum of the first 10 natural numbers is:", sum)
print("Product of the first 10 natural numbers is:", product)

Sum of the first 10 natural numbers is: 55
Product of the first 10 natural numbers is: 3628800

In [13]:
units = int(input("Enter the units of electricity consumed: "))


if units <= 0:
    print("Invalid input. Number of units should be greater than 0.")
else:
    # Calculate the bill
    if units <= 100:
        bill = units * 4.5
    elif units <= 200:
        bill = 100 * 4.5 + (units - 100) * 6
    elif units <= 300:
        bill = 100 * 4.5 + 100 * 6 + (units - 200) * 10
    else:
        bill = 100 * 4.5 + 100 * 6 + 100 * 10 + (units - 300) * 20

   
    print("The electricity bill for", units, "units is Rs.", bill)

Enter the units of electricity consumed:  310

The electricity bill for 310 units is Rs. 2250.0

In [8]:
# Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
#number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
#that list.

In [9]:
# Using for loop
numbers = list(range(1, 101))
cube_divisible_by_4_or_5 = []

for num in numbers:
    cube = num ** 3
    if cube % 4 == 0 or cube % 5 == 0:
        cube_divisible_by_4_or_5.append(num)

print(cube_divisible_by_4_or_5)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [10]:
# Using while loop
numbers = list(range(1, 101))
cube_divisible_by_4_or_5 = []
i = 0

while i < len(numbers):
    cube = numbers[i] ** 3
    if cube % 4 == 0 or cube % 5 == 0:
        cube_divisible_by_4_or_5.append(numbers[i])
    i += 1

print(cube_divisible_by_4_or_5)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [12]:
string = "I want to become a data scientist"
vowels = "aeiouAEIOU"

filtered_string = [char for char in string if char in vowels]

vowel_count = len(filtered_string)

print("The number of vowels in the string is:", vowel_count)

The number of vowels in the string is: 12